h1, h2, h3 {
    color: gray;
}


#main {
    color: #e60202;
}

.h2 {
    color: red;
}

.heading {
    color: green;
}
section > p {
    color: red;
   }

   section p {
    font-size: 25px; 
  }
  h2:first-of-type {
    color: indigo;
  }
  p.first a {
    color: green;
  }
  
  p.first .first a {
    color: green;
  }
  div + p {
    color: salmon;
  }
  
  .translucent-box {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: hsla(0, 100%, 50%, 0.5); 
    z-index: -1; 
}
div {
    font-size: 1.6em; 
}

span {
    font-size: 2.56em; 
}
strong {
    font-size: 1.6em; 
}
ul {
    list-style-type: square; 
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


body {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
}


h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 1.45rem;
}

h2 {
    font-size: 1.3rem;
}


.list-unstyled {
    list-style: none;
}

.footer-links {
    display: flex;
    justify-content: flex-start; 
    margin-top: auto; 
}

.footer-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; 
}

.footer-links ul li {
    margin-right: 10px; 
}

.footer-links ul li:last-child {
    margin-right: 0; 
}
footer {
    margin-top: 20px; 
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
