

a {
    color: indigo; 
}

a:visited {
    color: gold; 
}

a:hover {
    color: salmon; 
}

a:active {
    color: red; 
}

a:focus {
    color: orange; 
}




ul li:last-child,
ul li span:last-child {
    color: orange;
}