header {
  background-color: #fdf7f0;
  height: 90px;
  padding: auto 0 auto 5px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  max-width: 768px;
  margin: 0 auto;
}

h1 {
  position: relative;
}

h1 a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 39px;
  color: #3e3e42;
  margin: 0;
}

h1 span {
  position: absolute;
  color: #3e3e42;
  font-size: 10px;
  top: 13px;
}

nav {
  width: 100%;
  max-width: 400px;
}

.nav_list {
  display: flex;
  max-width: 400px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 40px 5px auto 0;
}

.nav_link {
  position: relative;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #3e3e42;
}

.nav_link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #3e3e42;
  transition: width 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.nav_link:hover::after {
  width: 100%;
}
