

.invitation {
    display: flex;
    flex-direction: column;
    width: 365px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 50px;
    color: #374F4C;
    margin: 45px 0 0;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3E3E42;
    line-height: 25px;
    margin: 27px 0 0;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #3E3E42;  
    font-size: 11px;
    line-height: 25px;
    margin: 16px 0 0;
}

.invitation_links {
    margin: 47px 0 0;
}

.awards {
    display: flex;
    flex-wrap: wrap;
margin: 48px 0 10px;
}

.hero_pictures {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 347px;
    padding-top: 70px;
    /* margin-left: 27px; */
}

.pink_marker {
    position: absolute;
    top: 200px;
    left: 0;
}

.girl {
    position: absolute;
    top: 287px;
    left: 77px;
}

.watch {
    z-index: 2;
    color: #374F4C;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    width: 143px;
    text-align: center;
    margin: 159px;
}

.phone_picture {
    margin-left: -20px;
    z-index: 3;
}