.body {
    font-family: 'Times New Roman', Times, serif;
    
}

article {
    display: flex;
    flex-wrap: wrap;
    background-color: #FDF7F0;
}

.centering_container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    
}